html {
  font-family: Arial, Helvetica, sans-serif;
}

h1 {
  font-size: 24px;
}

.container {
  display: flex;
  justify-content: space-evenly;
}
.calendar-day {
  margin: 25px;
  float: left;
  text-align: center;
}

.hour-box h2 {
  font-size: 18px;
}

.modal-form {
  background: #aaa;
  border: 1px solid #d0cccc;
  box-shadow: 0 5px 8px 0 rgba(0, 0, 0, 0.2), 0 7px 20px 0 rgba(0, 0, 0, 0.17);
  margin: 100px auto 0;
  width: 60%;
  transform: translateY(-50vh);
  opacity: 1;
}
